body{
 background:white;
}

.linkP{
  font-size:30px;
  color:black;
}

.conteinerPrincipal{
 margin-top:80px;
 background:#ffffff;
 text-align:center;
}

.tema {
 align-self: flex-end; 
 margin:10px;
  font-size:33px;
  font-weight:400;
  padding: 4px 8px;
  background: white;
  border-radius: 20px;
  position:fixed;
  margin-top: -9.1em;
  right: 0; 
}

.logo{
  border-radius:460px;
  max-height:100px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  position:fixed;
  margin-top:-4em;
}

.conteiner{
 background:#2E9AFE;
 color:white;
 font-size:30px;
  border-width: 3.5px;
border-style: solid;
border-color: black;
  border-radius:15px;
}

.conteiner2 {
  background:#f2f2f2;
  margin-top:10px;
  border-radius:60px;
  padding:20px;
border-width: 3.5px;
border-style: solid;
border-color: black;
}

.link{
  margin:10px;
  border-radius:60px;
  font-size:34px;
  background:#2E9AFE;
  padding:5px 10px;
  color:white;
  border-width: 3.5px;
  border-style: solid;
  border-color: black;
}

.dark{
 background:#1c1c1c;
}

.dark .conteiner2 {
 background:#424242;
  border-style: solid;
  border-color: #ffffff;
}

.dark .link{
  color:white;
  border-style: solid;
  border-color: #ffffff;
  color:white;
}

.dark .conteinerPrincipal {
   background:#1c1c1c;
}

.dark .linkP {
color:white;
}

.dark .conteiner{
  border-style: solid;
  border-color: #ffffff;
}
